h1 {
  font-family: 'Phudu', cursive;
  font-size: 30px;
}

h2, h3, p, a {
  font-family: 'Nunito', sans-serif;
}

h2 {
  font-size: 20px;
}

body, p {
  padding: 8px;
  text-align: center;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#content, #answer, #projects {
  text-align: justify;
}

.section {
  padding-top: 10px;
  max-width: 500px;
}

.contacts {
  display: inline-flex;
  column-gap: 50px;
  flex-direction: row;
}

.hidden {
  display: none;
}

.toggle-button {
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 10px;
}

.toggle-button:hover {
  background-color: #dd53d4;
  color: white;
}

.toggle-button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.logo {
  width:40px;
}
