h1 {
  font-family: 'Phudu', cursive;
  font-size: 50px;
}

h2, h3, p, a {
  font-family: 'Nunito', sans-serif;
}

h2 {
  font-size: 20px;
}

body {
  padding: 10px;
  text-align: center;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#description, #answer, #projects {
  text-align: justify;
}

.section {
  padding-top: 10px;
  max-width: 500px;
}

.contacts {
  display: inline-flex;
  column-gap: 50px;
  flex-direction: row;
}
